* {
  box-sizing: border-box;
  background-color: crimson;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@keyframes jiggy {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
table {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: jiggy;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #f0f4f8;
  font-weight: 300;
}
header {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  display: inline-block;
}
main {
  padding-left: 150px;
}
nav {
  background-repeat: no-repeat;
  background-size: 60px;
}
header div a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #51279b;
  color: white;
  padding: 10px 20px;
  position: relative;
  top: 1rem;
}

header div h2 {
  margin: auto;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  background-color: coral;
  color: white;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}
header div p {
  font-size: 24px;
  color: white;
  padding-top: 20px;
  transform: scale(2, 3);
}
header nav ul li a {
  color: #279b40;
  text-decoration: none;
  margin-left: 100px;
  font-size: bold;
  font-weight: bold;
}
header nav ul li a:hover {
  color: #8662c7;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  margin-top: 30px;
  display: inline-block;
}
header div {
  margin-top: 100px;
  margin-left: 100px;
}
h1.req {
  transform: skewY(20deg);
}
section.card {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: reversejiggy;
  animation-duration: 4s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes reversejiggy {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
img.bruh1 {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transform 2s;
}

img.bruh1:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}
img.bruh2 {
  width: 100px;
  height: 100px;
  background: red;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

img.bruh2:hover {
  width: 300px;
}
